
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

.top_nav {
    background-color: #005CA9;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top_nav a {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .top_nav{
        display: block !important;
        text-align: center;
        padding-top: 5px;
    }
    .top_nav a p{
        margin-top: 5px;
        margin-bottom: 2px;
    }
    .cname {
        padding-top: 0px !important;
    }
    .about-con h2 {
        font-size: 35px !important;
        margin-top: 10px;
    }
}

.sec-nav{
    width: auto;
    height: 80px;
    background-color: transparent;
    box-shadow: 1px 1px 2px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 18px;
}

.navbar-brand{
    padding-left: 50px;
}

.navbar-brand img {
    border-radius: 10px;
    box-shadow: 1px 1px 8px #ADD8E6;
}

.nav-item {
    margin-left: 20px;
}
.dropdown-menu li {
    width: 100% !important;
    padding: 5px 20px;
    height: auto;
    border-radius: 20px;
}
.dropdown-toggle:hover {
    display: block;
}
.dropdown-menu li:hover {
    background-color: #005CA9;
}
.dropdown-item:hover {
    background-color: #005CA9;
    color: white;
}
hr{
    margin: 5px;
}

.top_bar {
    background-color: #005CA9;
    height: auto;
    width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .navbar-brand {
        padding-left: 10px;
        /* margin-top: -20px; */
        height: 50px;
        width: 10px;
    }
    .nav-btn {
        margin-right: 10px;
        /* padding-right: 20px; */
    }
    .navbar-nav {
        background-color: #fff;
        z-index: 999px;
    }
    .ms {
        z-index: -10px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .navbar-nav {
        margin-left: 500px !important;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .navbar-nav{
        margin-left: 600px;
    }
}

/* top bar */

.top-menu {
    padding-top: 30px;
}

.ms {
    color: white;
    font-size: 25px;
}

.cname {
    padding-top: 100px;
}

.cname h1{
    color: white;
    font-family: "Alegreya SC", serif;
    font-size: 70px;
}

.top-con {
    font-size: 18px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.box{
    animation: animName 2s linear infinite;
    width:50px;
    height:50px;
    background-image: url(../images/2.png);
    margin:50px;
  }
  
  @keyframes animName {
   0%{
      transform: rotate(0deg);
     }
  100%{
      transform: rotate(360deg);
     }
  }

.zoom-img-container:hover{
    /* font-size: 50px; */
    border-radius: 50%;
    color: #01FFF4;
    box-shadow: 0 0 40px #01FFF4;
}

/* home about */

.about-con h2{
    font-family: "Alegreya SC", serif;
    color: black;
    width: auto;
    text-align: center;
    font-size: 45px;
    /* border-bottom: 2px solid hsla(276, 91%, 79%, 1); */
}

.about-con p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 8px;
    text-align: center;
    font-size: 18px;
}

.pt_trans {
    margin-top: 20px;
    /* border: 2px solid rebeccapurple; */
}

.pt_trans h5 {
    padding-top: 7px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.pt_trans p {
    padding-top: 10px;
    font-size: 18px;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pt_trans img {
    height: 400px;
}


.why {
    background-color: #edf6fd;
    height: auto;
}

.why h3 {
    text-align: center;
    padding: 20px 0 40px 0;
    font-family: "Alegreya SC", serif;
    font-size: 30px;
}

.cart {
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    background-color: white;
    width: 100%;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.cart:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Light box shadow */
    transform: scale(1.03); /* Zoom effect */
  }

.cart h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 16px;
}

.cart p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.ser_img {
    text-align: center;
    padding-bottom: 10px;
}

.ser_img .icon {
    font-size: 40px;
    color: #005CA9;
} 

/* form design code */

/* Styles for form elements */
.enquiry-form {
    background-color: white;
    box-shadow: 1px 1px 5px #005CA9 inset;
    /* box-shadow: 1px 1px 5px rgb(75, 75, 75) inset; */
    padding: 30px;
    border-radius: 20px;
    width: 100%;
}
.enquiry-form h3{
    text-align: center;
    margin-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.input-group {
    display: flex !important;
    gap: 30px;
    /* justify-content: space-between; */
}

/* Styles for form elements */
.form-group {
    position: relative;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%; /* Adjust width as needed */
    padding: 8px;
    padding-left: 40px; /* Adjust according to icon width */
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.form-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    /* color: #aaa; */
    color: #005CA9;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #005CA9;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    width: 50%;
    margin-left: 130px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Hide the label text but keep it accessible for screen readers */
.hidden-label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
.input-group {
    display: block !important;
    gap: 0px;
}
input[type="submit"] {
    margin-left: 60px;
}
.about-con p {
    text-align: justify;
}
}


/* ---------- ABOUT US PAGE ---------- */

.about-top {
    background-image: url(../images/about.jpeg);
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
}

.about-body {
    /* background-image: url(../images/about-body.jpg); */
    width: 100%;
    height: 700px;
    background-size: cover;
    background-color: rgb(230, 230, 230);
    /* background-blend-mode: soft-light; */
}

.about-content p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: justify;
    margin-top: 50px;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
    .about-top {
        /* width: auto; */
        height: 200px;
        background-image: url(../images/about.jpeg);
        width: 100%;
        background-position: cover;
    }
    .about-body {
        height: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
    .about-body {
        height: auto;
    }
}


/* ---------- contact page --------- */

.top-menu-bar {
    background-color: #005CA9;
    height: 250px;
    color: white;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Alegreya SC", serif;
}

.content{
    background-color: #005CA9;
    color: #ffffff;
    width: 100%;
    height: 200px;
    margin-top: 30px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.address{
    font-size: 20px;
    font-family: "Alegreya SC", serif;
    padding: 10px;
    /* margin-left: 20px; */
    text-align: center;
}

.address a {
    font-size: 20px;
    font-family: "Alegreya SC", serif;
    padding: 10px;
    /* margin-left: 20px; */
    text-align: center;
    color: white;
    text-decoration: none;
}

.content .con-icon {
    /* color: black; */
    margin-left: 150px;
    margin-top: 20px;
    font-size: 50px;
}

.lan_logo {
	align-items: center;
	/* background: #E3E3E3; */
	display: flex;
	height: 300px;
	justify-content: center;
}

.slider {
	/* background: white; */
	/* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125); */
	height: 150px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 1000px;
}

.slider::before,
.slider::after {
	/* background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); */
	content: "";
	height: 100px;
	position: absolute;
	width: 200px;
	z-index: 2;
}

.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.slider::before {
	left: 0;
	top: 0;
}

.slide-track {
	animation: scroll 40s linear infinite;
	display: flex;
	width: calc(250px * 6);
}

.slide {
	height: 100px;
	width: 250px;
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 12))}
}

.lan_logo h3{
    text-align: center;
    font-size: 45px;
    font-family: "Alegreya SC", serif;
    padding: 30px 0 40px 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .lan_logo {
        align-items: center;
        /* background: #E3E3E3; */
        display: block;
        height: 300px;
        justify-content: center;
    }
    
    .slider {
        /* background: white; */
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
        height: 150px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: auto;
    }
    
    .slider::before,
    .slider::after {
        /* background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); */
        content: "";
        height: 100px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }
    
    .slider::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }
    
    .slider::before {
        left: 0;
        top: 0;
    }
    
    .slide-track {
        animation: scroll 40s linear infinite;
        display: flex;
        width: calc(250px * 6);
    }
    
    .slide {
        height: 100px;
        width: 250px;
    }
    
    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-250px * 5))}
    }
}
